# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__ 

+ List popular languages for Data Science
+ Commonly used libraries used by Data Scientists
+ examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
    
    1. SQL
    2. Python
    3. R

Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
    2. Pandas
    3. SciPy
    
| Data Science Tools |
| --- |
| Apache Spark |
| Julia |
| Pandas |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [33]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [35]:
# This will convert 200 minutes to hours by diving by 60
200/ 60

3.3333333333333335

## Author ##
Greg Osti